/* Meanwhile release */

@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('./../fonts/BLOKK/BLOKKNeue-Regular.eot');
    src: url('./../fonts/BLOKK/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/BLOKK/BLOKKNeue-Regular.woff') format('woff'),
         url('./../fonts/BLOKK/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BLOKKRegular';
    src: url('./../fonts/BLOKK/BLOKKRegular.eot');
    src: url('./../fonts/BLOKK/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/BLOKK/BLOKKRegular.woff') format('woff'),
         url('./../fonts/BLOKK/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}




body { 

  padding-top: 60px; 
  background: #252123 url("../images/bg-texture-light.png") repeat;
  height: 100%;
}



/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  margin: 0 auto;
}

legend{
  color: #CCC;
}

input{
  color:#aaa !important;
}

.textAreaMatch{
  color: #aaa;
}

.separador_x
{
    width: 10px;
    height: 10px;
    float: left;
}
.separador_y
{
    width: 10px;
    height: 10px;
}


.span4 p{
  color:#ddd;
}

/*CHOSEN*/

.chzn-container .chzn-drop {
  border-radius:0px 0px 4px 4px;
  background: #3D3D3D !important;
}
.chzn-container-multi .chzn-choices {
    border-radius:2px 2px 2px 2px;
  background: #313131 !important;
    cursor: pointer !important;
  
}




#teams_chzn ul li input{
  color: #aaa;
  cursor: pointer !important;
}
.control-group-match{
  margin-left: 20px;
}

/* WELL 2 */
.well2 {
  margin-top: 10px;
  min-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: rgba(85, 85, 85, 0.3);
  border: 1px solid #EEE;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  /*font-size: 115%;*/
}
.well2 > .nav-list > .active > a, .nav-list > .active > a:hover {
  color: #eee;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #494949;
}
.well2 > .nav > li > a:hover {
  background-color: #393939;
}

.well2 a {
  font-size: 100%;
  color: #CCC;
}

.well2 > .nav-list > li > a, .nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(55, 155, 255, 0.5);
}

.well2 .nav-header {
  font-size: 140%;
}

.noty_bar {
  /*top: 50px !important;*/
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-inner {
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}


/* container */

#container{
  margin-bottom: 50px;
}

.hero-unit {
	background-color: #F2F39E;
}

.logo3d{
    /*width: 750px;*/
    font-size: 70px;
    margin: 10px auto;
    margin-bottom: 50px;;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 1px #ddd,
                 0px 2px 1px #d6d6d6,
                 0px 3px 1px #ccc,
                 0px 4px 1px #c5c5c5,
                 0px 5px 1px #c1c1c1,
                 0px 6px 1px #bbb,
                 0px 7px 1px #777,
                 0px 8px 3px rgba(100, 100, 100, 0.4),
                 0px 9px 5px rgba(100, 100, 100, 0.1),
                 0px 10px 7px rgba(100, 100, 100, 0.15),
                 0px 11px 9px rgba(100, 100, 100, 0.2),
                 0px 12px 11px rgba(100, 100, 100, 0.25),
                 0px 13px 15px rgba(100, 100, 100, 0.3);
}

.logo3d i{
  text-shadow: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-style: none;
}

.imgLogo{

  border-radius: 3px;
  display:block;
  margin-top: -20px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  -webkit-box-reflect: below 10px
  -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.04)));
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;

}

.bordersform{
  padding: 10px;
  border: 10px solid rgba(62, 57, 61, 0.25);

}


/* modal */
.modal {
  z-index: 1050;
  background: #252123 url("../images/bg-texture-light.png") repeat;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;

}

.modal .modal-footer{
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: rgba(250,250,200,0.2);;
  border-top: 1px solid #DDD;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 white;
}

.modal .close{
  opacity: 2;
  -moz-opacity: 2;
  filter:alpha(opacity=2);
  color: #ddd;
}

.modal .close:hover{
  color: #eee;
}

.spanModalRight{
}

/*about*/
.meAbout{
  margin: 0 auto;
  height: 229px;
  width: 186px; 
  background-image: url('../images/elpa.png');
  background-position: 186px 0px;
}
.meAbout:hover{
  background-position: 0px 0px;
}

/*login*/

.loginForm .form-actions{
  margin-top: 0px;
  border-top: none;
}

.sep{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(250,250,250,0), rgba(250,250,250,0.15), rgba(250,250,250,0)); 
  background-image:    -moz-linear-gradient(left, rgba(250,250,250,0), rgba(250,250,250,0.15), rgba(250,250,250,0)); 
  background-image:     -ms-linear-gradient(left, rgba(250,250,250,0), rgba(250,250,250,0.15), rgba(250,250,250,0)); 
  background-image:      -o-linear-gradient(left, rgba(250,250,250,0), rgba(250,250,250,0.15), rgba(250,250,250,0));
  margin: 0;
  margin-top: 18px;
}

/* footer */

footer{
  
  position:fixed;
  bottom:0;
  width:100%;
  height:50px;
  margin-top:45px;
  padding-top:5px;
  color:#999;
  /*border-radius*/
  -webkit-border-radius:0px 0px 5px 5px;
     -moz-border-radius:0px 0px 5px 5px;
          border-radius:0px 0px 5px 5px;
  background:url('../images/footer-grass.png') repeat bottom;
  /*transition*/
  -webkit-transition:background 1.8s;
     -moz-transition:background 1.8s;
       -o-transition:background 1.8s;
          transition:background 1.8s;
}
footer:hover,
footer:focus{
  background:url('../images/footer-grass-green.png') repeat bottom right;
  /*transition*/
  -webkit-transition:background 2s;
     -moz-transition:background 2s;
       -o-transition:background 2s;
          transition:background 2s;
}

footer a {
  color: #888;
}  

footer a:hover { 
  color: #555;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}