body { 

  padding-top: 60px; 
  background: #252123 url("../images/bg-texture-light.png") repeat;
}



/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  margin: 0 auto;
}

legend{
  color: #CCC;
}

input{
  color:#aaa !important;
}

.span4 p{
  color:#ddd;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-inner {
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}


/* container */

.hero-unit {
	background-color: #F2F39E;
}

.logo3d{
    /*width: 750px;*/
    font-size: 70px;
    margin: 10px auto;
    margin-bottom: 50px;;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 1px #ddd,
                 0px 2px 1px #d6d6d6,
                 0px 3px 1px #ccc,
                 0px 4px 1px #c5c5c5,
                 0px 5px 1px #c1c1c1,
                 0px 6px 1px #bbb,
                 0px 7px 1px #777,
                 0px 8px 3px rgba(100, 100, 100, 0.4),
                 0px 9px 5px rgba(100, 100, 100, 0.1),
                 0px 10px 7px rgba(100, 100, 100, 0.15),
                 0px 11px 9px rgba(100, 100, 100, 0.2),
                 0px 12px 11px rgba(100, 100, 100, 0.25),
                 0px 13px 15px rgba(100, 100, 100, 0.3);
      }      
.imgLogo{
  display:block; 
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 20px;
  opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
  -webkit-box-reflect: below 10px
    -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.04)));
    border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

.bordersform{
  padding: 10px;
  border: 10px solid rgba(62, 57, 61, 0.25);

}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #888;
}  

footer a:hover { 
  color: #555;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}