
.principal2
{
    width: 700px;
    min-height: 500px;
}

.datos_juego
{

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 11px;
    color: #006798;
}
.fecha
{
    height: 20px;
    padding-top: 5px;
    font-weight: bold;
    padding-left: 10px;
    font-size: 12px;
    background-color: #0D3E59;
    color: #F7B91F;
}
.marcador
{
    min-height: 160px;
    margin-bottom: 20px;
    /*line-height: 0px !important;*/
}

.form-actions1{
    padding: 20px;
    max-width:200px;
    background-color: rgba(156, 154, 58, 0.1);
    color: #aaa;
}

.form-actions2{
    padding: 20px;
    max-width:200px;
    background-color: rgba(0, 148, 151, 0.1);
    color: #aaa;
}

.controlDivOut{
    margin-left: 0px;
}
.controlsSubmit{
    margin-top: 20px;
    display: inline-block;
    width: 50px;
}

.equipo_1, .equipo_2
{
    width: 220px;
    text-align: center;
    padding: 10px;
}
.equipo_1
{
    background-color: rgba(156, 154, 58, 0.2);
}
.equipo_2
{
    background-color: rgba(0, 148, 151, 0.2);
}


.bordersTableScore{
    min-width:335px;
    max-width: 470px;
    padding: 5px;
    max-height:700px;
    overflow: auto;
    border: 5px solid rgba(162, 57, 61, 0.25);
}

.numerico{
    margin-top: 30px;
    height:60px;
    font-size: 90px; 
    text-shadow: 3px 3px #C1C1C1;
    display: inline-block;

}

.namerico label{
    font-size: 320%;
    margin: 10px auto;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 1px #ddd,
                 0px 2px 1px #d6d6d6,
                 0px 3px 1px #ccc,
                 0px 4px 1px #c5c5c5,
                 0px 5px 1px #c1c1c1,
                 0px 6px 1px #bbb,
                 0px 7px 1px #777,
                 0px 8px 3px rgba(100, 100, 100, 0.4),
                 0px 9px 5px rgba(100, 100, 100, 0.1),
                 0px 10px 7px rgba(100, 100, 100, 0.15),
                 0px 11px 9px rgba(100, 100, 100, 0.2),
                 0px 12px 11px rgba(100, 100, 100, 0.25),
                 0px 13px 15px rgba(100, 100, 100, 0.3);
}

.scoreTable{

}

.golTimeTr img{
    padding-right: 2px;

}
.scoreTable td{
    padding: 5px;
    padding-top: 10px;
}

.accion_equipo_1, .accion_equipo_2
{
    max-width: 450px;

    border-bottom-color: #006798;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    margin-left: 2px !important;
    text-align: center;
    /*height: 70px;*/
}
.accion_header
{
    max-width: 450px;
    padding: 10px;
    border-bottom-color: #006798;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    margin-left: 2px !important;
    background-color: rgba(250, 250, 250, 0.2);
    width:94%;

}
.accion_equipo_1
{
    background-color: rgba(156, 154, 58, 0.3);
    /*text-align: left;*/
    width:94%;

}
.accion_equipo_2
{
    background-color: rgba(0, 148, 151, 0.3);
    /*text-align: right;*/
    width:94%;
}
.dato_accion_1, .dato_accion_2
{
    width:100%;
    height: 30px;
    background-image: url(../images/tiempo_dato.png);
    background-repeat: no-repeat;
    margin-top: 20px;
}
.dato_accion_1_pos
{
    float: right;
    padding-left: 20px;
    background-position: left center;
}
.dato_accion_2_pos
{
    float: left;
    padding-right: 20px;
    background-position: right center;
}

.tiempo_1
{

    display: block;
    padding-left: 20px;
    background-position: left center;
}


.defensa_1, .defensa_2
{
    width: 480px;
    background-image: url(../images/dato.png);
    background-repeat: no-repeat;
    height: 15px;
    margin-top: 20px;
}
.defensa_1
{
    background-position: left center;
    float: left;
    padding-left: 20px;
}
.defensa_2
{
    background-position: right center;
    float: right;
    padding-right: 20px;
}
.eliminar_1, .eliminar_2
{
    width: 10px;
    height: 10px;
    background-image: url(../images/elinminar_dato.png);
}
.eliminar_1
{
    float: right;
}
.eliminar_2
{
    float: left;
}
.eliminar_1:hover, .eliminar_2:hover
{
    cursor: pointer;
}



.clear
{
    clear: both;
}
.separador_x, .separador_y
{
    width: 10px;
    height: 10px;
}
.separador_x
{
    float: left;
}

/*ADMINISTRADOR*/
.cajon_score, .select_score
{
    background-color: #CCC;
    border: 1px solid #333;
    color: #006798;
    font-size: 11px;
    padding: 2px;
    margin: 0px;
}
.btn_form_small, btn_form_small:hover, .btn_form_small_dis
{
    width: 72px;
    height: 24px;
    background-image: url(../images/btn_form_small.png);
    color: #FFF;
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
.btn_form_small
{
    background-position: top;
}
.btn_form_small:hover
{
    cursor: pointer;
    background-position: center;
}
.btn_form_small_dis
{
l    background-position: bottom; 
}
.foto_gol_left, .foto_gol_right, .foto_asist_left, .foto_asist_right,.foto_defensa_left, .foto_defensa_right
{
    width: 50px;
    height: 60px;
}
.foto_gol_left
{
    float: left;
    margin-right: 10px;
}
.foto_gol_right
{
    float: right;
    margin-left: 10px;
}
.foto_asist_left
{
    float: left;
    margin-right: 10px;
}
.foto_asist_right
{
    float: right;
    margin-left: 10px;
}
.foto_defensa_left
{
    float: left;
    margin-right: 10px;
}
.foto_defensa_right
{
    float: right;
    margin-left: 10px;
}