@font-face {
  font-family: 'digi';
  src: url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}
.controlLive{
  /*margin-left: 12%;*/
}

#stopwatch{
  float: left;
  padding-top: 10px;
  width: 270px;
}

.the-time .min:before {
  content: ':';
}
.the-time .min:after {
  content: ':';
}

.the-time {
  display: inline-block;
  width: 200px; height: 50px;
  font-size: 3.5em;
  text-align: center;
  line-height: 50px;
  padding-right: 1px;
  background-color: rgba(51, 51, 51, 0.2);
  border-radius: 3px;
}

.digit {

}

.start-stop{
  vertical-align: middle;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

#lightLive{
  margin-top: 30px;
  margin-right: 10px;
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}

#lightLive.off{
  background: #60576b;
  box-shadow: 0px 0px 21px #60576b;
}

#lightLive.on{
  background: #f0576b;
  box-shadow: 0px 0px 21px #f0576b;
}