footer.footer
  small
    a(href="http://railstutorial.org/")
      | Live Throw
    |  by Esbanarango
  nav.footer_nav
    ul
      li
        a(href="/")
          | Home
      li
        a(href="#")
          | About          