footer.footer
  small    
    | Live Throw by
    a(href="http://esbanarango.com/")
      |  Esbanarango
  nav.footer_nav
    ul
      li
        a(href="/")
          | Home
      li
        a(href="/about")
          | About          