footer.footer
  small
    a(href="http://railstutorial.org/")
      | Live Throw
    |  by ASN
  nav
    ul
      li
        a(href="/")
          | Home
      li
        a(href="#")
          | Contact
      li
        a(href="#")
          | About          