div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      button(data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/').brand Live Throw
        i(style="font-size: 10px;")  Beta
      div.nav-collapse.collapse
        ul.nav
          li
            a(href='/live') Live Games             
          li 
            a(href='/about') About
        ul.nav.pull-right
          li.divider-vertical
          - if (currentUserName())
            li.dropdown
              a(href='#',data-toggle="dropdown").dropdown-toggle
                i(style="opacity:0.6;").icon-user.icon-white
                =" " + currentUserName()                
              ul.dropdown-menu
                li
                  a(href="/matches/new")
                    i(style="padding-right:5px;").icon-flag   
                    | New match
                li
                  a(href="/teams/")
                    i(style="padding-right:5px;").icon-book
                    | Teams
                li(class="nav-header")
                  | Account
                li
                  a(href="/user/edit")
                    i(style="padding-right:5px;").icon-cog
                    | Edit account
                li.divider
                li
                  form(method="post", action="/sessions", id="logoutform", style="margin:0;")
                    input(type="hidden", name="_method", value="delete" )
                    a(href="#", id="logoutLink", style="text-decoration:none;")
                      | Logout
                  script
                    $("#logoutLink").click(function(e){
                        e.preventDefault();
                        $("#logoutform").submit();
                      });
          - else
              li
                a(href='/login') Login
          li
            form(method="post", action="/sessions", name="logoutform", style="display:none;")
              input(type="hidden", name="_method", value="delete" )
              a(href="javascript:document.logoutform.submit();").Logout