extends ../../../views/layout

block content
  div.row-fluid
    div.span12
      div.span6
        h3
          | Who?
        blockquote.pull-left
          | Me,
        .meAbout(onclick="window.open('http://esbanarango.com/','_blank');",style="cursor:pointer;",title="Esteban Arango Medina") 
        div(style='width:50; height:50px;')
        small(style='padding-left:2em;')
          | with the help of these super smart guys: 
          a(style="text-decoration:none;",href='https://twitter.com/sduquej',target='_blank') @sduquej 
          | & 
          a(style="text-decoration:none;",href='https://twitter.com/dduqueti',target='_blank')  @dduqueti

      div.span6
        h3
          | Why?
        blockquote.pull-left
         | Live Throw is the final project for the Special Topics in Telematics course taken at 
         a(style="text-decoration:none;",href='http://www.eafit.edu.co/',target='_blank') EAFIT University 
         | on the first semester of 2012; the idea behind this project is an open-source web app where you can keep track 
         | of statistics, real-time updates/score and community collaboration, all around 
         | Ultimate Frisbee games. All written in Node.js with the fantastic and beautiful little language CoffeeScript.

  script(type="text/javascript")
    $('.meAbout').tooltip({placement:'bottom'})