extends ../../../views/layout

block content
  div.row-fluid
    div.span12
      div.span6
        h3
          | Who?
        blockquote.pull-left
          | Me,
        .meAbout(onclick="window.open('http://esbanarango.com/','_blank');",style="cursor:pointer;",title="Esteban Arango Medina") 
      div.span6
        h3
          | Why?
        blockquote.pull-left
         | Live Throw is the final project for the Special Topics in Telematics course; 
         | the idea behind this project is a open-source web app where you can keep track 
         | of statistics, real-time updates/score and community collaboration, all around 
         | Ultimate Frisbee games. All written in Node.js with the fantastic and beautiful little language CoffeeScript.

  script(type="text/javascript")
    $('.meAbout').tooltip({placement:'bottom'})