extends ../../../views/layout

block content
  a(class='ribbon-fork',target='_blank',href='https://github.com/esbanarango/LiveThrow')
    img(style='position: absolute; top: 41px; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png', alt='Fork me on GitHub')
  div.row-fluid
    div.span12
      div.span4
        h3
          | Who?
        blockquote.pull-left
          | Me,
        .meAbout(onclick="window.open('http://esbanarango.com/','_blank');",style="cursor:pointer;",title="Esteban Arango Medina") 
        div(style='width:50; height:50px;')
        small(style='padding-left:2em;')
          | with the help of these super smart guys: 
          a(style="text-decoration:none;",href='https://twitter.com/sduquej',target='_blank') @sduquej 
          | & 
          a(style="text-decoration:none;",href='https://twitter.com/dduqueti',target='_blank')  @dduqueti

      div.span4
        h3
          | Why?
        blockquote.pull-left
         | Live Throw is the final project for the Special Topics in Telematics, course taken at 
         a(style="text-decoration:none;",href='http://www.eafit.edu.co/',target='_blank') EAFIT University 
         | on the first semester of 2012. The idea behind this project is an open-source web app where you can keep track 
         | of statistics, real-time information (updates/score) and community collaboration, all around 
         | Ultimate Frisbee games.

      div.span4
        h3
          | When?
        blockquote.pull-left
          | Right now I'm working on this project on my <strike>free time</strike>, so eventually I'll be
          | enhancing it to finish it as its first version. Thus any help or feedback would be well received! :)

  script(type="text/javascript")
    $('.meAbout').tooltip({placement:'bottom'})