extends ../../../views/layout

block content
  div
   h1.logo3d Live Throw
    i Beta
  img(src="../images/front_1.jpg").imgLogo
  div(class='row', style="font-family:'BLOKKNeue-Regular'")
    div.span4
      h2
        |  Live Score 
      i(style="float:left; padding-right: 5px;").icon-bullhorn.icon-white   
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    div.span4
      h2
        | Tournament
      i(style="float:left; padding-right: 5px;").icon-edit.icon-white       
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    div.span4
      h2
        | Stadistics 
      i(style="float:left; padding-right: 5px;").icon-align-left.icon-white 
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.