div.span8.offset1.bordersform
  legend
    | New Match
  fieldset
    form(id="newMatchForm", action="/matches/create", method="post").form-vertical
      p(style="font-size:13px")
        | Create a match is so easy, just select the teams you want face, and that's all. :)
 
      div.control-group.control-group-match
        label.control-label
          | Teams
        div.controls
          select(id="teams", name="teams", class="chzn-select", multiple="", required="required")
            optgroup(label="My Teams")
              each team in myTeams      
                option(value=team.id)= team.name
            optgroup(label="Public Teams")
              each team in allTeams
                - if (team.userId != currentUserId)          
                  option(value=team.id)= team.name     
      div.control-group.control-group-match
        label.control-label
          | Description
        div.controls
          textarea(class="textAreaMatch", name="description")                    
      div.form-actions
        button(type='submit').btn.btn-success
          | Create Match

script(type="text/javascript")
  $(".chzn-select").chosen({no_results_text: "No results matched"});
  $('#teams').chosen().change(function(event) { 
    if($(this).val()!=null){
      if ($(this).val().length > 1) {
        $(".chzn-drop").css("display","none");
      }
      if ($(this).val().length < 2) {
        $(".chzn-drop").css("display","block");
      }
    }
  });



