extends ../../../../views/layout

block content
  div.span6.offset3
    h2 
      | Current Games
    table(class="table table-striped ")
      thead
        tr
          th
            | When?
          th
            | Home Team
          th
            | Away Team
          th
      tbody
        each match in matches
          tr
            td=match.dateFormated
            each team in teams
              if team.id == match.teamId1 || team.id == match.teamId2 
                td= team.name  
            td
              a(class="label label-success", href="/live/#{match.id}")
                 |  watch
              if match.owner == currentUserId()
                |  | 
                a(class="label label-info", href="/live/#{match.id}/monitor")
                   |  broadcast                 