//- Variables
//- team
//- score
//- div.numerico
//-   strong(id="team#{team}Score")=score
div.numerico
  ul.flip.minutePlay
      li.before
        a(href='#')
          .up
            .shadow
            .inn=score
          .down
            .shadow
            .inn=score
      li.active
        a(href='#')
          .up
            .shadow
            .inn 1
          .down
            .shadow
            .inn 1
    ul.flip.secondPlay
      li.before
        a(href='#')
          .up
            .shadow
            .inn 0
          .down
            .shadow
            .inn 0
      li.active
        a(href='#')
          .up
            .shadow
            .inn 1
          .down
            .shadow
            .inn 1
