//- Variables
//- team
//- score
//- div.numerico
//-   strong(id="team#{team}Score")=score
div.numerico
  ul.flip.minutePlay
      li
        a(href='#')
          .up
            .shadow
            .inn 0
          .down
            .shadow
            .inn 0
      li
        a(href='#')
          .up
            .shadow
            .inn 1
          .down
            .shadow
            .inn 1
      li.before
        a(href='#')
          .up
            .shadow
            .inn 2
          .down
            .shadow
            .inn 2
      li.active
        a(href='#')
          .up
            .shadow
            .inn 3
          .down
            .shadow
            .inn 3
      li
        a(href='#')
          .up
            .shadow
            .inn 4
          .down
            .shadow
            .inn 4
      li
        a(href='#')
          .up
            .shadow
            .inn 5
          .down
            .shadow
            .inn 5
    ul.flip.secondPlay
      li
        a(href='#')
          .up
            .shadow
            .inn 0
          .down
            .shadow
            .inn 0
      li
        a(href='#')
          .up
            .shadow
            .inn 1
          .down
            .shadow
            .inn 1
      li
        a(href='#')
          .up
            .shadow
            .inn 2
          .down
            .shadow
            .inn 2
      li
        a(href='#')
          .up
            .shadow
            .inn 3
          .down
            .shadow
            .inn 3
      li
        a(href='#')
          .up
            .shadow
            .inn 4
          .down
            .shadow
            .inn 4
      li
        a(href='#')
          .up
            .shadow
            .inn 5
          .down
            .shadow
            .inn 5
      li
        a(href='#')
          .up
            .shadow
            .inn 6
          .down
            .shadow
            .inn 6
      li
        a(href='#')
          .up
            .shadow
            .inn 7
          .down
            .shadow
            .inn 7
      li
        a(href='#')
          .up
            .shadow
            .inn 8
          .down
            .shadow
            .inn 8
      li
        a(href='#')
          .up
            .shadow
            .inn 9
          .down
            .shadow
            .inn 9
