div.span12.offset3
  div(class="datos_juego")
    div(class="top-information")
      div(class="marcador")

        div(style="float:left")
          div(class="equipo_1",style="margin-top: 20px;")
            div.numerico
              strong(id="team1Score")=match.scoreTeam1          
            div.namerico
              label=match.team1.name

        div.separador_x 

        div(style="float:left")       
          div(class="equipo_2",style="margin-top: 20px;")
            div.numerico
              strong(id="team2Score")=match.scoreTeam2       
            div.namerico
              label=match.team2.name
 
  div.clear
  #golTeam1.accion_equipo_1.span8
      .eliminar_1
      div.tiempo_1
        label.golTime <img src="./../../images/tiempo.png"> 00:02:00
      div.dato_accion_1_left.golName
        strong Gol: 
        label.golName Hector Lavoe   
      div.dato_accion_1_left.assitanceName
        strong Asistencia: 
        label.assistName Pete Conde Rodriguez
      .clear

script(type="text/javascript")