.led
  .board
    #led
      #time-hh.block-digital.num-0
      #time-h.block-digital.num-0
      #time-h-colon.block-digital.colon
      #time-mm.block-digital.num-0
      #time-m.block-digital.num-0
      #time-m-colon.block-digital.colon
      #time-ss.block-digital.num-0
      #time-s.block-digital.num-0
      #time-padding.block-padding
