extends ../../../../views/layout

block content
  div.span6.offset3
    h2 
      | My Teams
      a(href="/teams/new",style="float:right;margin-top:7px;").btn.btn-inverse
        | Create New Team
    table(id="teams", class="table table-striped")
      thead
        tr
          th(style="width:22%;")    
          th
            | Name
          th
            | Category
      tbody
        each team in teams
          tr
            td(style="text-align:center;") 
              a(class="btn btn-small", href="/teams/#{team.id}")
                i(class="icon-cog")
                |  Edit            
            td= team.name
            td= team.category