extends ../../../views/layout

block content
  div.span5.offset3.bordersform
    legend
      | Login
    fieldset
      form(action='/sessions', method='post').form-inline
        div(style="padding-left:10px;")
          div.control-group
            label.control-label
              | Email
            div.controls
              input(type='email', name='email', required="required").input-xlarge  
          div.control-group
            label.control-label
              | Password
            div.controls
              input(type='password', name='password', required="required").input-xlarge
        div.form-actions
          button(type='submit').btn.btn-large.btn-primary
            | Submit
      label.control-label
        | New user? 
        a(href="/signup")
          | Sign up now!

