extends ../../../views/layout

block content
  div.span5.offset3.bordersform
    legend
      | Login
    fieldset
      form(action='/sessions', method='post').form-inline
        div(style="padding-left:10px;")
          div.control-group
            label.control-label
              | Email
            div.controls
              input(type='email', name='email', required="required").input-xlarge  
          div.control-group
            label.control-label
              | Password
            div.controls
              input(type='password', name='password', required="required").input-xlarge
          button(type='submit').btn.btn-primary
            | Submit              
        div.form-actions
          a(href='/auth/facebook',style='float:right;',class='zocial facebook') Login with Facebook
          a(href='/auth/twitter',style='float:right;',class='zocial twitter') Login with Twitter
      label.control-label
        | Don't want to use Facebook? / 
        small
          a(href="/signup")
            | Sign up now with your email!

