extends ../../../views/layout

block content
  div.span5.offset3.bordersform.loginForm
    legend
      | Log in
    fieldset
      form(action='/sessions', method='post').form-inline
        div(style="text-align:center;padding-left:10px;")
          div.control-group
            div.controls
              .input-prepend
                  span.add-on
                      i.icon-envelope.icon-white
                    input(type='email', name='email', required="required", placeholder="Email").input-large 
          div.control-group
            div.controls
              .input-prepend
                  span.add-on
                      i.icon-lock.icon-white
                    input(type='password', name='password', required="required", placeholder="Password").input-large              
          button(type='submit').btn.btn-inverse
            | Log in
        hr.sep
          span or
        div(style='text-align:center;margin-top', class='form-actions')
          a(href='/auth/facebook',class='zocial facebook') Login with Facebook
          //- a(href='/auth/twitter',style='float:right;',class='zocial twitter') Login with Twitter
      label(style='text-align:center;',class='control-label')
        | Don't want to use Facebook? / 
        small
          a(href="/signup")
            | Sign up now with your email!

