extends ../../../views/layout

block content
  div.span8.offset2.bordersform
    legend
      | Sign up
      p(style="font-size:15px")
        | To be able to use all the awesome features you will need an account, it's so easy!
    fieldset
      form(action='/user/create', method='post', id="registerHere").form-horizontal
        div.control-group
          label.control-label
            | Usernmae
          div.controls
            input(type='text', name="username", id="username", data-content="What’s your nickname?", data-original-title="Username").input-xlarge
        div.control-group
          label.control-label
            | Email
          div.controls
            input(type='email', name="email", id="email", data-content="What’s your email address?", data-original-title="Email").input-xlarge
        div.control-group
          label.control-label
            | Password
          div.controls
            input(type='password', name='password', id="password", data-content="6 characters or more! Be tricky", data-original-title="Password" ).input-xlarge
        div.control-group
          label.control-label
            | Confirm Password
          div.controls
            input(type='password', name='password_confirmation', id="password_confirmation", data-content="Re-enter your password for confirmation.", data-original-title="Re-Password" ).input-xlarge
        div.control-group
          label.control-label
            | Gender
          div.controls
            label.radio
              | Male
              input(type='radio', value="m", name='gender', checked)
            label.radio
              | Female
              input(type='radio', value="f", name='gender')
        div.form-actions
          button(type='submit').btn.btn-success
            | Create My Account

  script(type="text/javascript")
    $("#registerHere").validate({
          rules:{
            username:{
                required:true
              },
            email:{
                required:true,
                email: true
              },
            password:{
              required:true,
              minlength: 6
            },
            password_confirmation:{
              required:true,
              equalTo: "#password"
            }
          },
          messages:{
            username:{
              required:"Let us know your nickname plz."
            },
            email:{
              required:"Enter your email address",
              email:"Enter valid email address"
            },
            password:{
              required:"Enter your password",
              minlength:"Password must be minimum 6 characters"
            },
            password_confirmation:{
              required:"Enter confirm password",
              equalTo:"Password and Confirm Password must match"
            }
          },
          errorClass: "help-inline",
          errorElement: "span",
          highlight:function(element, errorClass, validClass) {
            $(element).parents('.control-group').addClass('error');
          },
          unhighlight: function(element, errorClass, validClass) {
            $(element).parents('.control-group').removeClass('error');
            $(element).parents('.control-group').addClass('success');
          }
        });