doctype 5
html
  head
    link(rel="author", href="humans.txt")
    title= "Live Throw - "+ title 
    link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/lib/css/jquery.noty.css")
    link(rel="stylesheet", href="/lib/css/noty_theme_twitter.css")
    link(rel="stylesheet", href="/lib/css/chosen.css")

    -var csss = csss || []
    -each css in csss
      link(rel="stylesheet", href="/stylesheets/"+css+".css")

    meta( name="viewport", content="width=device-width, initial-scale=1.0")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.24/jquery.form.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.10.0/jquery.validate.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.11/chosen.jquery.min.js')   
    != js('application')

    script(src='/lib/bootstrap/js/bootstrap.min.js')
    //- Hack to keep all links in same browser when in iOS app mode.
    script(type="text/javascript")
      (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")        
    //if lt IE 9
      script( src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    body 
      include includes/header            
      div.container

        - var flashTypes = ['info', 'error', 'success']
        each flashType in flashTypes
          if flash[flashType]
            div(class="alert alert-"+flashType)
              a(data-dismiss="alert").close
                | ×
              = flash[flashType]
              
        div.row
          div.span12
            block content
        include includes/footer   
      script(src='/socket.io/socket.io.js') 
      -var scripts = scripts || []
      -each script in scripts
        if (script == 'stopwatch')
          script(src='/javascripts/lib/jq.stopwatch.js')   
        else
          != js(script)
      script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38152308-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();